*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-image: url(/img/fonodo.avif);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.img-logo{
    width: 70px;
}
.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 10px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border-radius: 25px;
    background-color: #ffffff31;
    backdrop-filter: blur(8px);
    font-family: "Montserrat", sans-serif;
}
.ul-logo{
    display: flex;
    align-items: center;
    font-family: "Playwrite HR", cursive;
}
.ul-countries{
    display: flex;
    width: 600px;
    height: 90px;
    border-radius: 23px;
}
.nav-menu a {
    color: #fff;
}
.ul-countries li{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



