.main-content{
    display: flex;
    height: 70%;
}
.main-content div{
    flex: 1;
}
.img-main{
    background-image: url(/img/main-img-2.png);
    background-size: cover;
}
.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
.text-main p{
    font-size: 1.1rem;
}
.text-main  h1{
    font-size: 4rem;
}
@media (max-width : 600px){
    .main-content{
        display: flex;
    }
    .text-main p,h1{
        width: 50%;
        font-size: 3rem;
    }
    .img-main{
        width: 50%;
    }
    .img-main{
        background-position: -37px;
        background-size: 500px;
        background-repeat: no-repeat;
    }
}